{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/main.css">
{% endblock %}

{% block title %}
Changement des horaires
{% endblock %}

{% form_theme formConfig 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class="contenu col-xs-12 col-m-10">
  <div class="titre">
   <h1>Changement des horaires</h1>
  </div>
  <div class="perso d-flex flex-column">
  {{ form_start(formConfig) }}
  <div class="d-flex flex-column justify-content-center">
    {{ form_row(formConfig.openAt, {'label':'Ouverture'}) }}
    {{ form_row(formConfig.closeAt, {'label':'Fermeture'}) }}
    <button type="submit" class="btn btn-success" name="button">
    Enregistrer la modification
    </button>
  </div>
  {{ form_end(formConfig) }}
{% endblock %}
