{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block title %}Connexion à Consonne{% endblock %}



{% block body %}
  <div class="d-flex formulaire_co col-9">
  <div class="row">
    <div class="col-12">
      <img src="/img/logo.png" alt="logo ardenne metropole">
    </div>
  </div>
    <div class="row form_co">
      <div class="col-12 d-flex flex-flow-column-wrap">
        <form class="formulaire_co form-group d-flex justify-content-center" method="POST" action="{{ path('consonne')}}">
          <label>Entrez votre pseudo ou n° de carte:</label>
            <input type="text" class="form-control" required name="_username" placeholder="Pseudo/Numéro" />
          <label>Entrez votre mot de passe:</label>
            <input type="password" class="form-control" required name="_password" placeholder="Mot de passe" />
          <button class="connexion">Connexion</button>
        </form>
      </div>
    </div>

  </div>
{% endblock %}
