{% extends 'base.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block title %}Connexion à Consonne{% endblock %}

{% block body %}
<div class="formulaire_co">

    <img src="/img/logo.png" alt="logo ardenne metropole">
  <form class="formulaire_co" method="POST" action="php/connect.php">
    <label>Entrez votre pseudo ou n° de carte:</label>
    <input type="text" id="pseudo1" name="pseudo1" placeholder="Pseudo" />
    <label>Entrez votre mot de passe:</label>
    <input type="password" id="pass1" name="pass1" placeholder="Mdp" />
    <button>Connexion</button>
  </form>
</div>
{% endblock %}
