{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block title %}Connexion à Consonne{% endblock %}



{% block body %}
  <div class="d-flex formulaire_co">
  <div class="row">
    <div class="col-12">
      <img src="/img/logo.png" alt="logo ardenne metropole">
    </div>
  </div>
    <div class="row">
      <div class="col-12 d-flex flex-flow-column-wrap">
        <form class="formulaire_co form-group d-flex justify-content-center" method="POST" action="">
          <label>Entrez votre pseudo ou n° de carte:</label>
            <input type="text" id="pseudo1" name="pseudo1" placeholder="Pseudo" />
          <label>Entrez votre mot de passe:</label>
            <input type="password" id="pass1" name="pass1" placeholder="Mdp" />
          <button>Connexion</button>
        </form>
      </div>
    </div>

  </div>
{% endblock %}
